:root{
    --orange: #FF8C00;
    --grey: #333C41;
}

body{
    background-color: #F1F1F1;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

*{
    outline: transparent;
}

.home{
    margin-top: 30px;
    margin-bottom: 150px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
}

.navbar{
    z-index: 100000000;
}

input {
    border: none;
    background-color: white;
    border-radius: none;
    width: 360px;
    padding: 17px 20px 17px 20px ;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 30px 30px 30px 30px white inset;

}

input{
    height: 50px;
}

button{
    border: none;
    width: 360px;
    height: 55px;
    background-color: var(--orange);
    color: white;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}


 
 button:hover{
     color: var(--orange);
     border: 1px solid var(--orange);
     background-color: white;
     transform: scale(1.02);
 }



.link{
    color: var(--orange);
    text-decoration: none;
}

p{
    color: var(--grey);
}




textarea{
    resize: none;
    width: 360px;
    height: 150px;
    padding: 20px;
    border-radius: 0;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); 
    outline: none;
    
    
}

textarea:valid,
textarea:focus{
    border: 1px solid var(--orange);
    color: var(--grey);
    font-weight: 400;
    font-family: Poppins;
    font-size: 16px;
    background-color: white;
}

input:valid,
input:focus{
    border: 1px solid var(--orange);
    color: var(--grey);
    font-weight: 400;
    font-family: Poppins;
    font-size: 16px;
}

.top{
    position: relative;
    width: 100vw;
    height: 70vh;
    max-height: 400px;

}

.top img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    
}

.banner{
    object-fit: cover;
    width: 100vw;
    height: 95vh;

}

.search-area{
    position: relative;
    top: -30%;
    z-index: 10000;
    width: 100%;
    height: 15%;
    font-size: 1.5fr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0%;
    margin: 0%;
    padding: 0;
    margin-bottom: 100%;

}

#searchbar{
    width: 67%;
    height: 100%;
    font-size: 100%;
    outline: transparent;
    border-radius: 0;
    border: none;
}

.search-area button{
    width: 11%;
    height: 100%;
    padding: 5px;
    font-size: 100%;
    min-height: 34px;
}

#cancel{
    position: relative;
    background-color: white;
    height: 100%;
    left: -2px;
    display: flex;
    align-items: center;
    margin-right: 2%;
    outline: transparent;
    border-radius: 0;
    min-height: 34px;
    

}


#cancel span{
 font-size: 1.5rem;
 color: var(--grey);
 transition: 0.2s;
 cursor: pointer;
 height: auto;
 
}


#cancel:hover span{
    color: var(--orange);
   }



   .person{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 400px;
    height: 600px;
    margin-top: 50px;
   }

   #head{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    box-shadow: -4.5px 1px 0px 1px var(--orange);
   }

   #body{
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 100px 100px 150px 150px;
    box-shadow: -4px 1px 0px 1px var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
   }

   #body2{
    width: 300px;
    height: 600px;
    background-color: var(--orange);
    position: absolute;
    filter: blur(200px);
    border-radius: 50%;
    z-index: -1000;
   }

   #circle{
    position: relative;
    top: -15%;
    width: 400px;
    height: 150px;
    border: 2px solid var(--orange);
    border-radius: 50%;
    z-index: -100;
   }

   .person h3{
    position: relative;
    top: -15%;
    width: 350px;
    height: 70px;
    color: #333C41;
   }

   .qmarks{
    position: absolute;
    width: 300px;
    height: 300px;
    font-size: 35px;
   }

   .qmarks .q1{
    position: relative;
    left: 35%;
    top: -20%;
   }

   .qmarks .q2{
    position: relative;
    left: 10%;
    top: -20%;
   }

   .qmarks .q3{
    position: relative;
    left: 90%;
    top: -20%;
   }



   @media only screen and (max-width: 500px) {
    .search-area{
        font-size: 10px;
        height: 20%;
        max-height: 50px;
        width: 100%;
        padding: 0;
        min-width: 300px;
        max-width: 480px;
        margin: 0;

    }

    .search-area button{
        width: 20%;
        height: 100%;
        padding: 5px;
        font-size: 14px;
        min-height: 34px;
    }

    #searchbar{
        font-size: 14px;
    }

    .cancel{
        font-size: 10px;
        height: 100%;
    }


    .home{
        
            margin-top: 30px;
            margin-bottom: 150px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100dvw;
        
    }

    .person{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 200px;
        height: 600px;
        margin-top: 50px;
       }
    
       #head{
        width: 75px;
        height: 75px;
        background-color: white;
        border-radius: 50%;
        box-shadow: -2px 0.5px 0px 1px var(--orange);
       }
    
       #body{
        width: 125px;
        height: 125px;
        background-color: white;
        border-radius: 50px 50px 75px 75px;
        box-shadow: -2px 0.5px 0px 1px var(--orange);
        display: flex;
        align-items: center;
        justify-content: center;
       }
    
       #body2{
        width: 150px;
        height: 600px;
        background-color: var(--orange);
        position: absolute;
        filter: blur(100px);
        border-radius: 50%;
        z-index: -1000;
       }
    
       #circle{
        position: relative;
        top: -15%;
        width: 200px;
        height: 75px;
        border: 1px solid var(--orange);
        border-radius: 50%;
        z-index: -100;
       }
    
       .person h3{
        position: relative;
        top: -15%;
        width: 175px;
        height: 70px;
        color: #333C41;
       }
    
       .qmarks{
        position: absolute;
        width: 150px;
        height: 300px;
        font-size: 35px;
       }

       .qmarks h3{
        width: 0;
        font-size: 24px;
       }


    
   }

   




   @media only screen and (max-width: 300px) {
    .search-area button{
        font-size: 8px;

    }


   }
 