:root{
    --orange: #FF8C00;
    --grey: #333C41;
 }

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    height: 70px;
    background-color: white;

    
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
   position: relative; 
   list-style: none;

}

header ul.middle-section li {
    position: relative; 
    list-style: none;
    transition: 0.2s;
 }

 .middle-section {
    display: flex;
    gap: 20px;
 }

 header ul.middle-section li:hover {
    cursor: pointer;
    color: var(--orange);
 }

header ul li {
    position: relative;
    padding: 0;
    text-decoration: none;
    color: var(--grey);  
    cursor: pointer;
    display: flex;

}

header ul li img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    margin-top: 6px;
    border-radius: 50%;


}

header #logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

header #logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header #logo h2{
    color: var(--grey);
    font-weight: 400;
}

header #logo span{
     color: var(--orange);
}

header ul li span {
    padding: 6px;
    border-radius: 50%;
    color: var(--grey);
    transition: 0.2s;
    margin: 10px;  
}





header ul li:hover {
    color: var(--orange);


}

.middle-section-icons{
    display: none;
}

#home, #about, #contact{
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
    padding: 0;
}

.user-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25vw;
    max-width: 200px;
}

#hey{
    border-radius: 50%;
    background-color: var(--orange);
    height: 15px;
    width: 15px;
    padding: 0px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}

#signin{
   width: 150px;
   color: white;
   box-shadow: none;

}

#signin-icon{
    display: none;
}

#logout{
    rotate: 180deg;
}

#sginin-section{
    width: 25vw;
    max-width: 200px;
}

@media only screen and (max-width: 700px) {
    .middle-section{
        display: none;
    }

    .middle-section-icons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40vw;
        align-self: center;
        padding-right: 5px;
        padding-left: 5px;
        height: 90%;
    }



    #logo h2{
        display: none;
    }

    #logo{
        width: 10vw;
    }

    .navbar img{
        width: 35px;
        height: 35px;
        margin: 5px;
    }


    #sginin-section{
        width: 40vw;
        max-width: 40px;
    }

    #signin{
        display: none;
    }

    #signin-icon{
        display: block;
        color: var(--grey);
        transition: 0.2s;
    }

    
    #signin-icon:hover{
        color: var(--orange);
    }
}