:root{
    --orange: #FF8C00;
    --grey: #333C41;
 }

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    height: 70px;
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
   position: relative; 
   list-style: none;

}

header ul.middle-section li {
    position: relative; 
    list-style: none;
    padding: 10px;
    transition: 0.2s;
 }

 header ul.middle-section li:hover {
    cursor: pointer;
    color: var(--orange);
 }

header ul li {
    position: relative;
    padding: 0;
    text-decoration: none;
    color: var(--grey);  
    cursor: pointer;
}

header ul li img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    margin-top: 6px;
    border-radius: 50%;


}

header #logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

header #logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header #logo h2{
    color: var(--grey);
    font-weight: 400;
}

header #logo span{
     color: var(--orange);
}

header ul li span {
    padding: 6px;
    border-radius: 50%;
    color: var(--grey);
    transition: 0.2s;
    margin: 10px;  
}





header ul li span:hover {
    color: white;
    background-color: var(--orange);

}


