:root{
    --orange: #FF8C00;
    --grey: #333C41;
 }

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    background-color: white;
    
}



header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
   position: relative; 
   list-style: none;

}

header ul.middle-section li {
    position: relative; 
    list-style: none;
    transition: 0.2s;
 }

 .middle-section {
    display: flex;
    gap: 20px;
 }

 header ul.middle-section li:hover {
    cursor: pointer;
    color: var(--orange);
 }

header ul li {
    position: relative;
    padding: 0;
    text-decoration: none;
    color: var(--grey);  
    cursor: pointer;
    display: flex;

}

header ul li img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    margin-top: 6px;
    border-radius: 50%;


}

header #logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

header #logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header #logo h2{
    color: var(--grey);
    font-weight: 400;
}

header #logo span{
     color: var(--orange);
}

header ul li span {
    padding: 6px;
    border-radius: 50%;
    color: var(--grey);
    transition: 0.2s;
    margin: 10px;  
}





header ul li:hover {
    color: var(--orange);


}

.middle-section-icons{
    display: none;
}

#home, #about, #contact, #profile{
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
    padding: 0;
}

.user-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25vw;
    max-width: 200px;
}

#hey{
    border-radius: 50%;
    background-color: var(--orange);
    height: 15px;
    width: 15px;
    padding: 0px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}

#signin{
   width: 100px;
   color: white;
   box-shadow: none;
   height: 45px;
   transition: 0.2s ease-in-out;
   

}

#signin:hover{
    color: var(--orange);
    border: 1px solid var(--orange);
    background-color: white;

}



#logout{
    width: 100px;
    color: white;
    box-shadow: none;
    height: 45px;
    transition: 0.2s ease-in-out;
}

#logout:hover{
    color: var(--orange);
    border: 1px solid var(--orange);
    background-color: white;
 
}


#sginin-section{
    width: 25vw;
    max-width: 200px;
}

.drop-down{
    display: none;  
}

.white-space{
    display: flex;
    justify-self: end;
    justify-content: center;
    width: calc(100dvw - 30px);
    height: 100vh;
    min-width: 300px;
    background-color: var(--grey);
    opacity: 1;
    position: absolute;
    z-index: 100000;
    top: -100%;
    transition: 1s;
    right: -40%;
    animation-name: slide;
    animation-duration: 0.7s;
    
}

.white-space  span{
    position: absolute;
    color: white;
    opacity: 1;
    top: 2%;
    left: 2%;
}

#close{
    position: absolute;
    opacity: 1;
    top: 2%;
    left: 2%;
    width: 50px;
    height: 50px;
    z-index: 100000000000;
}

.drop-down > span{
    color: var(--grey);
}


.white-space ul li {
    color: white;
}

.drop-down h2{
    color: white;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: center;
}

@keyframes slide {
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(0%);
    }
}


.white-space2{
    display: flex;
    justify-self: end;
    justify-content: center;
    width: calc(100dvw - 50px);
    height: 100vh;
    min-width: 300px;
    background-color: var(--grey);
    opacity: 1;
    position: absolute;
    z-index: 100000;
    top: -100%;
    transition: 1s;
    right: -40%;
    animation-name: slide;
    animation-duration: 0.7s;
    animation-direction: reverse;
    
}

.white-space2  span{
    position: absolute;
    color: white;
    opacity: 1;
    top: 2%;
    left: 2%;
}



.white-space2 ul li {
    color: white;
}

.white-space2 ul li button, .white-space ul li button{
    width: 100px;
    height: 45px;
    box-shadow: none;
}

@media only screen and (max-width: 700px) {

    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        transition: 0.5s;
        height: 70px;
        background-color: white;
    }
    
    .middle-section{
        display: none;
    }

    .middle-section-icons{
        display: none;
        justify-content: space-around;
        align-items: center;
        width: 40vw;
        align-self: center;
        padding-right: 5px;
        padding-left: 5px;
        height: 90%;
    }

    .user-section{
        display: none;
    }

    .drop-down{
        position: relative;
        display: flex;
        gap: 10px;
        justify-self: flex-end;
        width: 20vw;
        align-items: center;
        align-items: center;
        
    }







    #logo{
        width: 10vw;
    }

    .navbar img{
        width: 35px;
        height: 35px;
        margin: 5px;
    }


    #sginin-section{
        width: 40vw;
        max-width: 130px;
    }




    
    #signin-icon:hover{
        color: var(--orange);
    }
}