:root{
    --orange: #FF8C00;
    --grey: #333C41;
 }

 .home .offer:hover{
   border: 1px solid var(--orange);
 }
 .home .offer{
   align-self: center;
 }


 .offer{
    width: 260px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;

}

.offer svg{
   transition: 0.2s;
   
}




.offer-image{
   width: 100%;
   height: 230px;



}

.offer-info{
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 10px;
}

.offer-top{
   width: 100%;
   display: flex;
   gap: 5px;
   height: 50px;
   justify-content: space-between;
   align-items: flex-start;
}

.maker-info{
   display: flex;
   gap: 5px;
   height: 50px;
}

.offer-top .offer-dis{
   font-size: 11px;
   font-weight: 400;
   color: var(--grey);
}

.offer-top img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.offer-top h3{
   color: var(--orange);
   font-size: 16px;
   font-weight: 500;
}

.offer-content{
   width: 90%;
   height: 80px;
   color: var(--grey);
   font-size: 16px;
   font-weight: 500;
   word-wrap: break-word;
}

.offer-footer{
   width: 100%;
   text-align: end;
   font-size: 14px;
   color: var(--grey);
}

.offer-footer h4{
   font-weight: 400;
   font-size: 14px;
}

.offer-footer span{
   color: var(--orange);
}



@media only screen and (max-width: 500px) {

}