.profile{
    width: 100%;
    height: 100dvh;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 66%;
    column-gap: 40px;
    margin-bottom: 100px;
}

.fields{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    padding: 0;
}

.profile .fields img{
    width: 182px;
    height: 182px;
    border-radius: 50%;
}

.name{
    font-weight: 500;
    color: var(--orange);
    font-size: 20px;
}

.phoneNumber{
    display: flex;
    gap: 5%;
}

.phoneNumber h2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey);
}

.bio{
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    width: 380px;
    max-height: 250px;
    min-height: 30px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    text-align: center;
}



.offer-form{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.offer-form button{
    margin-top: 25px;
    width: 360px;
}


.offer-box{
    position: relative;
    width: 380px;
    
 }
 
.offer-box .offer-placeholder img{
    border-radius: 0;
    width: 25px;
    height: 25px;
} 

 .offer-box .offer-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    pointer-events: none;
    color: var(--grey);
    transition: 0.5s;
    display: flex;
    gap: 5px;
    


 }

 .offer-box .offer-placeholder h3{
    font-weight: 400;
    font-size: 16px;

 }
 
 
 .offer-box input:focus ~ .offer-placeholder,
 .offer-box input:valid ~ .offer-placeholder
 {
    color: var(--orange);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    padding: 0 10px;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    
 }

 .offer-box input:focus ~ .offer-placeholder > img,
 .offer-box input:valid ~ .offer-placeholder > img{
    width: 15px;
    height: 15px;

 }

 .offer-box input:focus ~ .offer-placeholder > h3,
 .offer-box input:valid ~ .offer-placeholder > h3{

    color: var(--orange);
 }


 .offer-box textarea:focus ~ .offer-placeholder,
 .offer-box textarea:valid ~ .offer-placeholder
 {
    color: var(--orange);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    padding: 0 10px;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    
 }

 .offer-box textarea:focus ~ .offer-placeholder > img,
 .offer-box textarea:valid ~ .offer-placeholder > img{
    width: 15px;
    height: 15px;

 }

 .offer-box textarea:focus ~ .offer-placeholder > h3,
 .offer-box textarea:valid ~ .offer-placeholder > h3{

    color: var(--orange);
 }
 
 .offer-box textarea:focus ~ p,
 .offer-box textarea:valid ~ p{

    color: var(--orange);
 }


 .offers-display{
    grid-column-start: 2;
 }

 .offers-section-title{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 15px;
 }

 .offers-section-title img{
    width: 25px;
    height: 25px;
 }

 .offers-section-title h3{
    color: var(--grey);
    font-size: 24px;
    font-weight: 500;
 }

 .offers-section{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
 }

.offer{
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: space-around;
    align-items: center;
    


}

.profile-offer{
   width: 280px;
   height: 280px;
   background-color: white;
   padding: 15px;
   display: flex;
   flex-direction: column;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   justify-content: space-around;
   align-items: center;
   


}

 .offer-top{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 250px;
    padding-left: 15px;
    padding-right: 5px;
 }

 .offer-top span{
   color: var(--grey);
   transition: 0.2s;
   padding: 4px 4px 4px 4px;
   border-radius: 50%;
 }

 .offer-top:hover  span{
   color: white;
   background-color: var(--orange);


 }

.offer-user-info{
   display: flex;
   align-items: center;
   gap: 15px;
   width: 250px;
   padding-left: 15px;
}


 .offer-top img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
 }

 .offer-top h3{
    color: var(--orange);
    font-size: 1rem;
    font-weight: 400;
 }


 .offer-content{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    width: auto;
    text-align: center;

 }
 
 .offer-content h3{
    font-size: 18px;
    font-weight: 500;
    color: var(--grey);
 }

 .offer-footer span{
    color: var(--orange);
    font-weight: 700;
    font-size: 16px;
 }

 .offer-footer h4{
    font-size: 16px;
    font-weight: 400;
    color: var(--grey);
 }

 .offer-footer button {
    text-decoration: none;
    color:white;
    width: 110px;
    height: 40px;
    background-color: var(--orange);
    font-size: 16px;
    font-weight: 400;
}

.offer-footer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}

.info-box{
   margin-top: 40px;
   width: 360px;
   display: flex;
   flex-direction: column;
   gap: 35px;
}
.info{
   display: flex;
   gap: 5px;
}

.fields .info img{
   border-radius: 0;
   width: 25px;
   height: 25px;
}

.fields .info h3{
   color: var(--grey);
   font-size: 16px;
   font-weight: 400;
}

.offer-box p {
   position: absolute;
   left: 80%;
   bottom: 10%;
   font-weight: 400;
   font-size: 12px;
   transition: 0.2s;
}