:root{
    --orange: #FF8C00;
    --grey: #333C41;
 }
 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .settings{
 height: 100dvh;
 width: 100dvw;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin-top: 120px;
 }

 .settings form{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    gap: 50px;
    flex-wrap: wrap;
 }

 .req, .op{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }



 .settings .inputBox{
    width: 380px;
}

.settings .inputBox input, .settings .inputBox textarea{
    width: 380px;
}

.settings .inputBox input{
    height: 60px;
}




 @media only screen and (max-width: 800px) {
    .settings{
        height: 100dvh;
        width: 100dvw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 200px;
        }

        .settings .inputBox{
            width: 280px;
        }

        .settings .inputBox input, .settings .inputBox textarea{
            width: 280px;
        }

        .settings button{
            width: 280px;
        }

        .settings form{
            width: 280px;
            flex-direction: column;
            align-items: center;
           
        }
 }